$main-border-color: lightseagreen;

.card {
  border: 1px solid $main-border-color;
  margin-bottom: 1rem;
  padding: 0.5rem;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 65% calc(35% - 5rem);

  .card__title {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .card__right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      font-weight: 600;
      padding: 0;
      margin: 4px 0 0;

      span {
        font-weight: 400;
        margin-left: 0.5rem;
      }
    }

    button {
      align-self: center;
    }

    .card__authors {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
